{% load static %}
<!-- the comment box -->
<div class="well">
  <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
  <form id="comment-form" role="form" action="{%  url 'api:v1:blog:comment' %}" method="post">
    <div class="form-group">
      <textarea id="textarea" class="form-control" rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn"><i class="fa fa-reply"></i> Отправить </button>
  </form>
</div>
<hr>

<!-- the comments -->
<div id="all-comments" class="col-lg-8">

</div>

