
{#<p><input type="password" name="password_1" value="" class="form-control input-lg" placeholder="Password"/></p>#}
{#<p><input type="password" name="password_2" value="" class="form-control input-lg" placeholder="Confirm Password"/></p>#}


<div id="password_1">
  <input type="password" name="password_1" value="" class="form-control input-lg" placeholder="Password"/></div>
<div id="password_2">
  <input type="password" name="password_2" value="" class="form-control input-lg" placeholder="Confirm Password"/></div>
