{% extends "blog/base.html" %}
{% load static main %}

{% block head %}
   <link href="{% static 'blog/css/comments.css' %}" rel="stylesheet">
{% endblock head %}

{% block container %}
<div class="row">
  <div id="article" class="col-lg-8">

  </div>
  <div class="col-lg-8">
    {% include 'blog/includes/comments.html' %}
{#    <div id="commentList" class="row"></div>#}
{#    {% include 'blog/includes/asd.html' %}#}
  </div>
  {% block right_sidebar %}
  {{ block.super }}
  {% endblock right_sidebar %}
</div>

{% include 'blog/includes/update_comment_modal.html' %}

{% endblock container %}


{% block jquery %}
$.getScript('{% static 'blog/js/detail_comment.js' %}');
$.getScript('{% static 'blog/js/detail_article.js' %}');
{% endblock %}
